@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.letter{
    display: inline-block;
    font-family: sans;
    font-weight: bold;
    letter-spacing: -5px;
    animation: peek 1s both 1s;
    animation-delay: var(--d);
}

@keyframes peek {
    25% {
        transform: rotateX(30deg)
        translateY(10px) rotate
        (-13deg);
    }

    50%{
        transform: translateY(-22px)
        rotate(3deg) scale(1.1);
    }
}

.nav-link{
    text-decoration: none;
    font-family: sans;
}

    .gallery {
        --size: 250px;
        --gap: .1rem;
        --grid-cols: var(--size) var(--size) var(--size);
        --grid-rows: var(--size) var(--size) var(--size);
        --size-hover: calc(var(--size) * 2);
        --size-not-hover: calc(var(--size) / 2);
    --speed: 500ms;
    width: 100%;   
    display: grid;
    grid-template-columns: var(--grid-cols);
    transition: var(--speed) ease-in-out;
    gap: var(--gap);
    background-color: black;
    }

    .row1, .row2, .row3 {
        height: fit-content;
        display: grid;
        grid-template-rows: var(--grid-rows);
        gap: var(--gap);
        transition: var(--speed) ease-in-out;
    }

    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(35%);
        transition: filter var(--speed);
    }

    :is(.img, img):hover{
        filter: brightness(90%);
    }

    .gallery:has(.row1:hover) {
        --grid-cols: var(--size-hover) var(--size-not-hover) var(--size-not-hover);
    }

    .gallery:has(.row2:hover) {
        --grid-cols: var(--size-not-hover) var(--size-hover) var(--size-not-hover)
    }

    .gallery:has(.row3:hover) {
        --grid-cols: var(--size-not-hover) var(--size-not-hover) var(--size-hover);
    }

    :is(.row1, .row2, .row3):has(.img:hover) {
        --grid-rows: var(--size-not-hover) var(--size-not-hover) var(--size-hover);
    }

    :is(.row1, .row2, .row3):has(.img:hover) {
        --grid-rows: var(--size-not-hover) var(--size-hover) var(--size-not-hover);
    }

    :is(.row1, .row2, .row3):has(.img:hover) {
        --grid-rows: var(--size-not-hover) var(--size-not-hover) var(--size-hover);
    }

    img {
        width: 100%;
    }